<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="LocationPersistenceServerVerticle" class="net.devaction.mylocation.lastknownlocationpersistence.server.LocationPersistenceServerVerticle">
        <property name="addressProvider" ref="configValuesProvider"/>
        <property name="handler" ref="handler"/>
    </bean>
   
    <bean id="handler" class="net.devaction.mylocation.lastknownlocationpersistence.server.LocationPersistenceServerHandlerImpl">
        <property name="errorBufferProvider" ref="errorBufferProvider"/>
        <property name="persistor" ref="persistor"/>
    </bean>
    
    <bean id="errorBufferProvider" class="net.devaction.mylocation.lastknownlocationpersistence.server.ErrorBufferProvider"/>
    
    <bean id="persistor" 
            class="net.devaction.mylocation.lastknownlocationpersistence.server.persistor.Persistor">
        <property name="locationResponseProvider" ref="lastKnownLocationResponseProvider"/>
        <property name="filePathProvider" ref="configValuesProvider"/>
    </bean>
    
    <bean id="lastKnownLocationResponseProvider" 
            class="net.devaction.mylocation.lastknownlocationpersistence.server.persistor.LastKnownLocationResponseProviderImpl"/>
    
    <bean id="configValuesProvider" 
            class="net.devaction.mylocation.lastknownlocationpersistence.config.ConfigValuesProvider">
        <property name="baseDirProvider" ref="baseDirProvider"/>
    </bean>
    
    <bean id="baseDirProvider" 
            class="net.devaction.mylocation.lastknownlocationpersistence.config.BaseDirProviderImpl"/>
</beans>

